html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	max-width: 1200px;
	width: 90%;
	/*margin: 0 auto;*/
	padding: 0 10px;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}

h1 {
	font-size: 1.875em;
}
h2 {
	font-size: 1.125em;
}
h3 {
	font-size: .75em;
}

p {
	font-size: .875em;
	line-height: 21px;
}

/*The widths are in a percentage!*/
header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-flow:row wrap;
	text-align:center;
}

header h1 {
	margin: 0;
	padding: 20px 0;
	display: flex;
	justify-content: center;
	border-bottom: 3px solid #77a466;
	width: 100%;
}

header h1 span {
	color: #77a466;
	padding-right: 15px;
}

.nav {
	padding: 15px 0;
	justify-content: center;
	align-items:center;
	justify-content:flex-start;
}

.nav ul {
	margin: 0;
	padding: 0;
}

.nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	padding: 20px 10px;
	display: block;
}

.nav ul li a{
	text-decoration: none;
	color:#77a466;
	align-content:center;
}

/*The widths are in a percentage!*/
.top-section, 
.bottom-section {
	padding: 0 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}


.main-image {
	height: auto;
}

.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;
}

.main-title h2 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}

.main-title p {
	padding: 0;
	font-size: 16px;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	width: 100%; 
	height: auto;
	border-top: 1px solid #eee;
	display: flex;
	justify-content: center;
	flex-flow: column wrap;
}

.section-one h3 {
	padding: 10px 0;
}


.section-two h3,
.section-three h3 {
	padding: 10px 0px;
	justify-content: flex-start;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
}

.address {
	font-size: 1em;
	line-height: 24px;
}

/*The widths are in a percentage!*/
footer {
	border-top: 3px solid #eee;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

footer h3 {
	justify-content: center;
}

footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: .875em;
}

@media all and (min-width: 768px) {
	/* Tablet styles here */
	
	.bottom-section {
		align-items: flex-start;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
	}


	.section-one, 
	.section-two, 
	.section-three {
		width: 33%;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start; 
		flex-flow: row wrap;
		box-sizing: border-box;
	}

	.section-one {
		padding-right: 20px;
	}

	.section-two {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
		padding: 0 20px;
		box-sizing: border-box;
	}

	.section-three {
		padding-left: 20px;
	}

	.section-one h3,
	.section-two h3,
	.section-three h3 {
		display: flex;
		flex-direction: row;
		justify-content:flex-start;
		align-items: flex-start;
		width: 100%;	
	}
}	

@media all and (min-width:1200px) {
	/* Desktop styles here */
  
	header {
		justify-content: space-between;
		width: 35%;
	}

	header h1 {
		width: 15%;
		padding: 30px 0;
		text-align: left;
		border-bottom: none;
	}

	.nav {
		width: 40%;
    }

	.nav ul {
		display: flex;
		justify-content: space-between;
    }
}

